body { 
  background-color: white; 
  color: black; 
  font-family: Arial, Helvetica; 
  font-size: 8pt; 
  margin-left: 1em; 
  margin-top: 1em; 
  margin-right: 1em;
  margin-bottom: 1em 
}

td, li { 
  font-size: 8pt 
}

h1, h2, h3 { 
  font-family: Arial Narrow, Helvetica; 
  margin-top: 1em; 
  margin-bottom: 0 
}

h1 { 
  font-size: 20pt 
}

h2 { 
  font-size: 16pt 
}

h3 { 
  font-size: 12pt 
}

textarea { 
  font-family: Arial, Helvetica;
  font-size: 10pt
}

.list { 
  margin-left: 1em 
}

.title { 
  font-family: Arial Narrow, Helvetica; 
  font-size: 16pt; 
  font-weight: bold; 
  background-color: #aaddff 
}

.note { 
  font-size: 10pt; 
  font-weight: bold 
}

.banner { 
  font-family: Georgia;
  font-size: 14pt
}
